.images-feed {
  display: block;
  width: 90%;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.feed-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

.feed-gambar {
  flex: 1;
}

.feed-keterangan {
  flex: 1;
}

.prof-box {
  width: 100%;
  display: flex;
  flex-direction: inline;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: inline;
}

.card-profiles {
  margin-left: 15px;
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.post-name a {
  text-decoration: none;
  font-size: 14;
  font-weight: 800;
  color: #ababab;
}

.icon-container {
  flex: 1;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.card-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.navlike {
  text-align: end;
  padding-right: 15px;
}

.like-total {
  font-size: 14;
  font-weight: 800;
  color: #ababab;
}
