.info-modal-notification {
  position: absolute !important;
  margin-right: 220px;
  margin-top: 90px;
  right: 0 !important;
  display: unset !important;
}

.info-modal-notification .modal-content {
  background-color: #1f1f1f !important;
  border: 0 solid black !important;
  border-radius: 20px !important;
  padding: 10px 10px !important;
  width: 350px;
}

.notif-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notif-by-person {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.notif-by-person:hover {
  background-color: #535353;
}

.notif-photo {
  flex: 20%;
  padding: 15px;
  margin-right: 15px;
}

.notif-content {
  flex: 80%;
  padding: 10px;
}

.notif-circlement {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
}

.notif-person-name {
  font-weight: 900;
  font-size: 14px;
  color: white;
}

.notif-person-message {
  font-size: 14px;
  color: #ababab;
}
